*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #CCC;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-links{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}

.description{
    display: flex;
    gap: 20px;
    align-items: center;
}

.description-text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 20px;
}

.description-header{
    color: #F9FAF8;
    font-size: 35px;
}

.description-explanation{
    color: #E5E7EB;
    font-size: 20px;
}

.book-a-table{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #E5E7EB;
    font-weight: 900;
    border-radius: 10px;
}

.book-a-table:hover{
    background-color: #69a0f8;
    cursor: pointer;
}

#logo{
    height: 100px;
    width: auto;
    margin-left: 200px;
}

#banner{
    width: 600px;
    height: auto;
    border: solid 2px #E5E7EB;
    border-radius: 5px;
    margin-right: 100px;
    margin-bottom: 20px;
}

#menu-link{
    margin-left: auto;
}

#about-us-link{
    margin-right: 200px;
}