*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #CCC;
}

.section-one{
    background-color: #1F2937;
}

.header-links{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}

.description{
    display: flex;
    gap: 20px;
    align-items: center;
}

.description-text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 20px;
}

.description-header{
    color: #F9FAF8;
    font-size: 35px;
}

.description-explanation{
    color: #E5E7EB;
    font-size: 20px;
}

.book-a-table{
    background-color: #3882F6;
    color: #F9FAF8;
    align-self: center;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: 2px solid #E5E7EB;
    font-weight: 900;
    border-radius: 10px;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.dish-cards{
    display: flex;
    gap: 20px;
}

.header-two{
    font-size: 30px;
    margin-bottom: 20px;
}

#logo{
    height: 100px;
    width: auto;
    margin-left: 200px;
}

#banner{
    width: 600px;
    height: auto;
    border: solid 2px #E5E7EB;
    border-radius: 5px;
    margin-right: 100px;
    margin-bottom: 20px;
}

#menu-link{
    margin-left: auto;
}

#about-us-link{
    margin-right: 200px;
}

.card img{
    width: 400px;
    height: auto;
    border: solid 4px black;
    border-radius: 5px;
}

.card{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #E5E7EB;
    padding-right: 200px;
    padding-left: 200px;
}

.quote{
    padding-top: 50px;
    font-size: 28px;
    color: #1F2937;
    font-weight: 300px;
}

.quote-name{
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    padding-bottom: 50px;
}

.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-book{
    font-size: 35px;
}

.text-book{
    font-size: 20px;
    margin-top: 5px;
}

.section-four button{
    margin-left: auto;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 2px white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

button:hover{
    background-color: #69a0f8;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 30px;
    font-size: 15px;
    margin-top: 50px;
}